/* flex布局 */
.u-f,
.u-f-ac,
.u-f-ajc {
	display: flex;
}

.u-f-ac,
.u-f-ajc {
	align-items: center;
}

.u-f-ajc {
	justify-content: center;
}

.u-f-jsb {
	justify-content: space-between;
}

.u-f1 {
	flex: 1;
}

.u-f-column {
	flex-direction: column;
}

/*个页面操作按钮样式*/
.caozuoClass {
	display: flex;
	justify-content: space-around;
	/*上边是按钮 布局设置  */
	margin: 10upx 0 0 0;
	/* margin : 5upx 0 0 0; */
	/* padding: 0 10upx 0 0 0; */
}

.buttonClass {
	font-size: 30upx;
	padding: 1upx 10upx 1upx 10upx;
	/* margin: 0 10upx 0 0; */
	color: #FFFFFF;
	/* 圆角 */
	border-radius: 10upx;
	background: #1BAD5A;
}

.buttonhui {
	font-size: 30upx;
	padding: 1upx 10upx 1upx 10upx;
	/* margin: 0 10upx 0 0; */
	color: #FFFFFF;
	/* 圆角 */
	border-radius: 10upx;
	background: #bdbdbd;
}

.jinggao {
	padding: 10upx 10upx 10upx 30upx;
	color: #f10000;
	font-size: 35upx;

}

.daojishi {
	padding: 0 20upx 0 20upx;
	font-size: 35upx;
	line-height: 45upx;
	color: #f10000;
}
/*接单列表开始*/
	.fromDataTitleClass {
		border-top-width: thin;
		border-top-style: double;
		border-top-color: #E7E3E6;

		font-size: 33upx;
		line-height: 35upx;
		color: #6F6B6E;
		padding: 5upx 0 5upx 0;
	}
	.oxiangqing {
		display: inline;
		padding: 0 30upx 0 0;
	
	}
	
	.oxiangqing view {
		padding: 3upx 10upx 3upx 20upx;
		font-size: 32upx;
		line-height: 34upx;
		background: #F4FBFD;
		display: inline;
	}