/* flex布局 */
.u-f,
.u-f-ac,
.u-f-ajc {
	display: flex;
}

.u-f-ac,
.u-f-ajc {
	align-items: center;
}

.u-f-ajc {
	justify-content: center;
}

.u-f-jsb {
	justify-content: space-between;
}

.u-f1 {
	flex: 1;
}

.u-f-column {
	flex-direction: column;
}

/*个页面操作按钮样式*/
.caozuoClass {
	display: flex;
	justify-content: space-around;
	/*上边是按钮 布局设置  */
	margin: 10upx 0 0 0;
	/* margin : 5upx 0 0 0; */
	/* padding: 0 10upx 0 0 0; */
}

.buttonClass {
	font-size: 30upx;
	padding: 1upx 10upx 1upx 10upx;
	/* margin: 0 10upx 0 0; */
	color: #FFFFFF;
	/* 圆角 */
	border-radius: 10upx;
	background: #1BAD5A;
}

.buttonhui {
	font-size: 30upx;
	padding: 1upx 10upx 1upx 10upx;
	/* margin: 0 10upx 0 0; */
	color: #FFFFFF;
	/* 圆角 */
	border-radius: 10upx;
	background: #bdbdbd;
}

.jinggao {
	padding: 10upx 10upx 10upx 30upx;
	color: #f10000;
	font-size: 35upx;

}

.daojishi {
	padding: 0 20upx 0 20upx;
	font-size: 35upx;
	line-height: 45upx;
	color: #f10000;
}
/*接单列表开始*/
	.fromDataTitleClass {
		border-top-width: thin;
		border-top-style: double;
		border-top-color: #E7E3E6;

		font-size: 33upx;
		line-height: 35upx;
		color: #6F6B6E;
		padding: 5upx 0 5upx 0;
	}
	.oxiangqing {
		display: inline;
		padding: 0 30upx 0 0;
	
	}
	.gerenzhongxinbut {
		padding: 45upx 75upx 0 15upx;
	}
	.oxiangqing view {
		padding: 3upx 10upx 3upx 20upx;
		font-size: 32upx;
		line-height: 34upx;
		background: #F4FBFD;
		display: inline;
	}
	/*个人中心操作按钮*/
	.myReleasebuwai{
		width: 100%;
		/* border-top: 1upx solid #eeeeee; */
		padding: 10upx 20upx 20upx 20upx;
		display: flex;
		flex-wrap: nowrap;
	}
	.myReleasebuno{
		width: 24%;
		display: flex;
		flex-direction: column;
		
		/*元素上下排列
		justify-content:space-between;
			flex-grow:1;
			height: 450upx;*/
	}
	/*我的发布中,创建 ,编辑开始*/
	
	.mybody {
		padding: 25upx 5upx 25upx 25upx;
	}
	.hui {
		background: #edece8;
	}
	.so_no {
		padding: 0 20upx 5upx 10upx;
	}
	.sou {
		/*padding: 1upx 1upx 1upx 0; 不设边框出不来*/
		display: flex;
		/*border: 1upx solid #e0e1e0;边框*/
		flex-direction: row; /*同行多列布局*/
		/*border-style: solid; 边框样式*/
		/*border-color: #e0e1e0; 边框颜色*/
		/*	border-width: 1upx; 边框宽*/
		/*border-radius: 10upx; 边框圆角*/
	}
	
	.gao1 {
		/* width: 10%; */
		/* margin: auto; */
		/* height: 65upx; */
		/* padding: 2upx 0 2upx 20upx; */
		/* padding: 0 0 0 20upx; */
		padding: 0 20upx 5upx 10upx;
		margin: 0 20upx 0 9upx;
		border: 1upx solid #e0e1e0; /*边框*/
		border-style: solid; /*边框样式*/
		border-color: #e0e1e0; /*边框颜色*/
		border-width: 1upx; /*	边框宽*/
		border-radius: 10upx; /*边框圆角*/
	}
	.sou2 {
		padding: 0 76upx 5upx 10upx;
		/* height: 100upx; */
	}
	.gao2 {
		margin: 0 0 38upx 0;
		border: 1upx solid #e0e1e0; /*边框*/
		border-style: solid; /*边框样式*/
		border-color: #e0e1e0; /*边框颜色*/
		border-width: 1upx; /*	边框宽*/
		border-radius: 10upx; /*边框圆角*/
	}
	.shang2 {
		/* margin-left:0px */
		padding: 15upx 0 15upx 15upx;
	}
	.shang {
		/* margin-left:0px */
	/* 	padding: 12upx 0 0 10upx; */
			padding: 15upx 0 15upx 15upx;
	}
	
	.chengshi {
		height: 77upx;
		/* margin-left:0px */
		/* padding: 12upx 0 0 10upx; */
	}
	.xianshicheng {
		line-height: 36upx;
		font-size: 30upx;
		color: #606266;
	}
		/*我的发布中,创建 ,编辑结束*/
		/*我的发布中,创建 ,编辑 多选组件开始*/
		.fuli {
			padding: 20upx 0 10upx 10upx;
			font-size: 34upx;
		}
		.danxuan {
			display: flex;
			flex-direction: column;
			padding-top: 20upx;
			/* padding-left: 20upx; */
			padding-right: 20upx;
		
			justify-content: space-around;
			align-items: center;
			/* height: 100upx;    高*/
			color: #333333;
			/* border-bottom: 1upx solid rgba(230, 230, 230, 1);  下边框 */
			text-align: left;
			font-size: 27upx;
			/* line-height: 100upx;
				margin-left: 16upx; */
		}
		.wenzi{
			padding: 20upx 0 10upx 10upx;
			font-size: 34upx;
		}
		.xinxiyouxiaoqi{
			padding: 20upx 0 30upx 10upx;
			font-size: 35upx;
			color: #cf0000;
		}
		/*我的发布中,创建 ,编辑 多选组件结束*/